@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @*<h1>View Data</h1>
    <p>The current time is @ViewData["CurrentTime"]</p>
    <p>The current time is still @ViewData["CurrentTime"]</p>

    <h1>Temp Data</h1>
    <p>The current time is @TempData["CurrentTime"]</p>
    <p>The current time is still @TempData["CurrentTime"]</p>*@

</div>
