@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out some sweet tours <a asp-controller="Tours" asp-action="Index">here</a>!
</div>
