@{
    ViewData["Title"] = "Home Page";
    var user = ViewData["User"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 
    @if (user != null)
    {
        <p>Welcome, @user</p>
    }
    else
    {
        @*<a src="/Home/Login">Login</a>*@
        <a asp-action="Login">Login</a>
    }
</div>
