@{
    ViewData["Title"] = "Home Page";
}

<div id="welcome" class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
            <div class="form-group">
                <label for="font" class="control-label">Font Size</label>
                <input type="text" id="font" class="form-control" />
            </div>
            <div class="form-group">
                <label for="color" class="control-label">Color</label>
                <input type="text" id="color" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="saveSettings" class="btn btn-primary" />
            </div>

    </div>
</div>