h1, th {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.error {
    color: red;
    font-weight: bolder;
}

nav {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.emphasize {
    font-weight: bolder;
}

footer {
    font-size: smaller;
}