@model IEnumerable<Assessment7Prep.Models.DonutData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-controller="Home" asp-action="Search">
    <label for="donutId">Donut Id</label>
    <input type="number" id="donutId" name="donutId" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
