@model CookieSelectionViewModel
@{
    ViewData["Title"] = "Good Cookies";
}

<div class="text-center">
    <h1 class="display-4">Good Cookies</h1>
    <p>@Model.Type good cookies are @Model.Flavor</p>
</div>
